# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Brand\Desktop\vakken_v1A_2021\Adaptive_programming_2021\formatieve opdracht 2a machine met tekstinvoer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
